
<!DOCTYPE html>
<html>
  <head>
    <title>>Cisco Spark Integration Test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="index.js"></script>
  </head>
  <body>
    <div id="content">
      <p>Hi <%= webhooks %></p>
    </div>
  </body>
</html>

